body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  text-align: center;
  color: antiquewhite;
}
img {
  /* margin: auto; */
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}
